/* Theme */
:root {
  /* Primary */
  --primary: 165 43% 32%;
  /* Foreground */
  --foreground: 170 18% 15%;
  --muted-foreground: 170 6% 42%;
  /* Background */
  --background: 60 14% 98%;
  --muted: 150 10% 95%;
  --card: 0 0% 90%;

  /* Basic */
  --border: 240 5.9% 88%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}
.dark {
  /* Primary */
  --primary: 163 56% 74%;
  /* Foreground */
  --foreground: 0 0% 98%;
  --muted-foreground: 240 5% 74.9%;
  /* Background */
  --background: 170 15% 7%;
  --muted: 170 9% 13%;
  --card: 240 3.7% 24.9%;

  /* Basic */
  --border: 240 3.7% 22.9%;
  --input: 240 3.7% 17.9%;
  --ring: 240 4.9% 83.9%;
}
:root {
  --un-default-border-color: hsl(var(--border) / 1);
}
html.dark {
  color-scheme: dark;
}

/* Global */
a:focus-visible,
button:focus-visible {
  outline: 2px solid hsl(var(--primary));
  outline-offset: 4px;
}

a {
  transition: color 0.2s ease;
  &:hover {
    color: hsl(var(--primary) / var(--un-text-opacity, 1));
  }
}
